<h5>Transactions</h5>
<div class="table-responsive col-lg-12 col-md-12 ">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Transaction ID</th>
      <th scope="col">Block</th>
      <th scope="col">Sequence</th>
      <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of displayedTransactions">
      <td scope="row" class="text">
          <span>
            <a [routerLink]="['/transactions', transaction.txid]">{{transaction.txid}}</a>
          </span>
      </td>
      <!--<td>-->
      <!--<span class="text-nowrap"> {{ transaction.createdate | convertDate | date:'MMM dd, yyyy '}} </span>-->
      <!--<br>-->
      <!--<span>{{transaction.createdate | convertDate | date:' hh:mm a' }}</span>-->
      <!--</td>-->
      <td scope="row">
        <a [routerLink]="['/blocks', transaction.block]">{{transaction.block}}</a>
      </td>
      <td scope="row">{{transaction.sequence}}</td>
      <td scope="row">{{transaction.value >= 0 ? '+' : ''}}{{transaction.value | currency:undefined:' ':'1.0-2'}}</td>
    </tr>
    </tbody>
  </table>
  <pagination class="justify-content-center"
              [totalItems]="transactions.length"
              [rotate]="rotate"
              [maxSize]="maxPagesDisplayed"
              (pageChanged)="pageChanged($event)"
  >
  </pagination>
</div>
