<app-search-bar [searchValue]="searchValue"></app-search-bar>
<app-block-info *ngIf="resultType ==='block'" [block]="searchResult"></app-block-info>
<app-transaction-info *ngIf="resultType ==='tx'" [transaction]="searchResult"></app-transaction-info>
<app-address-info *ngIf="resultType ==='address'" [address]="searchResult"></app-address-info>
<div class="container" *ngIf="searchFailed">
  <h4 class="text-center">{{ searchError }}</h4>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="large"
  color="#fff"
  type="ball-fall"
></ngx-spinner>
