<div class="container text-truncate" *ngIf="isChainInfoActive" style="font-family: 'Titillium Web', sans-serif; ">

  <div class="col-lg-12 text-truncate" *ngIf="myChainInfo && isChainInfoActive">
    <h1 class="primary text-center">Chain Information</h1>

    <ul class="list-group">
      <li class="list-group-item">Chain : {{myChainInfo.chain}}</li>
      <li class="list-group-item">Blocks : {{myChainInfo.blocks}}</li>
      <li class="list-group-item">Headers : {{myChainInfo.headers}}</li>
      <li class="list-group-item text-truncate">
        Best Block Hash :
        <a href="#" (click)="blockHashClicked(myChainInfo.bestblockhash)"> {{myChainInfo.bestblockhash}} </a>
      </li>
      <li class="list-group-item">Difficulty : {{myChainInfo.difficulty}}</li>
      <li class="list-group-item">Median Time : {{myChainInfo.mediantime}}</li>
      <li class="list-group-item">Verification Progress : {{myChainInfo.verificationprogress}}</li>
      <li class="list-group-item">Chain Work :
        <div style="
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: right;
        text-align: left;direction: rtl;"> {{myChainInfo.chainwork}}
        </div>
      </li>
      <li class="list-group-item">Pruned : {{myChainInfo.pruned}}</li>

    </ul>
  </div>
</div>

<div class="container" *ngIf="isTiActive" style="font-family: 'Titillium Web', sans-serif; ">

  <h1 class="text-center">Transaction Information</h1>
  <div class="form-group">
    <label>Transaction Id</label>
    <input class="form-control" placeholder="Enter Transaction Id" #tId>

    <div class="text-right">
      <button class="btn btn-primary m-4 " (click)="setTransactionInfo(tId.value)">Submit</button>
    </div>
  </div>
  <!-- when the transaction is loaded-->
  <div *ngIf="myTransactionInfo" class="text-truncate">
    <h2 class="primary ">Transaction Info</h2>

    <ul class="list-group text-truncate">
      <li class="list-group-item text-truncate">Transaction Id : {{myTransactionInfo.txid}}</li>
      <li class="list-group-item text-truncate">Block Hash :
        <a href="#" (click)="blockHashClicked(myTransactionInfo.blockhash)"> {{myTransactionInfo.blockhash}} </a>
      </li>
      <li class="list-group-item text-truncate">Hash : {{myTransactionInfo.hash}}</li>
      <li class="list-group-item">Version : {{myTransactionInfo.version}}</li>
      <li class="list-group-item">Size : {{myTransactionInfo.size}}</li>
      <li class="list-group-item">VSize : {{myTransactionInfo.vsize}}</li>
      <li class="list-group-item">Lock time : {{myTransactionInfo.locktime}}</li>

      <li class="list-group-item" *ngIf="myTransactionInfo.vin">
        <h3>V_In</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let vin of myTransactionInfo.vin">
            <ul class="list-group">
              <li class="list-group-item" *ngIf="!!vin.coinbase">Coinbase : {{vin.coinbase}}</li>
              <li class="list-group-item">Sequence : {{vin.sequence}}</li>
              <li class="list-group-item" *ngIf="vin.vout !== undefined">V_Out : {{vin.vout}}</li>
              <li class="list-group-item" *ngIf="!!vin.txid">Transaction ID : {{vin.txid}}</li>
              <li class="list-group-item" *ngIf="!!vin.scriptSig">
                <h5>Script Signature</h5>
                <ul class="list-group">
                  <li class="list-group-item text-truncate">ASM : {{vin.scriptSig.asm}}</li>
                  <li class="list-group-item text-truncate">Hex : {{vin.scriptSig.hex}}</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="list-group-item" *ngIf="myTransactionInfo.vout">
        <h3>V_Out</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let vt of myTransactionInfo.vout">
            <ul class="list-group">
              <li class="list-group-item"> Value : {{vt.value}}</li>
              <li class="list-group-item"> n : {{vt.n}}</li>
              <li class="list-group-item text-truncate"> ScriptPubKey-ASM : {{vt.scriptPubKey.asm }}</li>
              <li class="list-group-item text-truncate">ScriptPubKey-Hex : {{vt.scriptPubKey.hex}}</li>
              <li class="list-group-item"> ScriptPubKeyReqSigs : {{vt.scriptPubKey.reqSigs}}</li>
              <li class="list-group-item">ScriptPubKeyType : {{vt.scriptPubKey.type}}</li>
              <li class="list-group-item">
                <h5>Addresses</h5>
                <div *ngFor="let ad of vt.scriptPubKey.addresses" class="text-truncate">{{ad}}</div>
              </li>
            </ul>

          </li>
        </ul>
      </li>

      <!-- <li class="list-group-item">Block Hash : <a href="#" (click)="showBlockOfCurrentTransaction()"> {{myTransactionInfo.mBlockHash }} </a></li> -->
      <li class="list-group-item text-truncate">Hex : {{myTransactionInfo.hex }}</li>

    </ul>

  </div>

  <div *ngIf="!myTransactionInfo &&  tId.value ">
    <h2>The given Transaction Id is invalid.</h2>
  </div>

</div>
